* {
	padding: 0;
	margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  animation: changePage 0.5s;
}

.ayimgui {
	position: fixed;
	width: 360px;
	height: 320px;
	top: calc(50% - 180px);
	left: calc(50% - 180px);
	z-index: 999;
	background-color: #F0F0F0;
	border-radius: 15px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(240, 46, 46, 0.2) 15px 15px;
  animation: changePage 1s;
}

.onlyTitle {
	height: 21px !important;
}

.ayimgui .aytitle {
	padding: 0 5px;
	font-size: 16px;
	background-color: #d1d1d1;
}

.ayimgui .aytitle .titleClose {
	position: absolute;
	top: 3px;
	right: 6px;
	color: #000;
}

.ayimgui .aytitle .titleClose:hover {
	color: #409EFF;
}

.ayimgui .aybody {
	padding: 15px;
	height: calc(100% - 21px - 15px - 15px);
	overflow: auto;
	font-size: 14px;
}


.aytext {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #000;
}

.el-checkbox {
	margin: 0px;
}

.el-checkbox__label {
	color: #000;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
	color: #545454;
}

.el-checkbox__inner {
	background-color: rgb(254, 254, 254);
	border: none;
}


.el-radio {
	margin: 8px 0;
}

.el-radio__label {
	color: #000;
}

.el-radio__input.is-checked+.el-radio__label {
	color: #409EFF;
}

.el-radio__inner {
	background-color: rgb(254, 254, 254);
	border: none;
}

.el-radio__input.is-checked .el-radio__inner {
	background-color: rgb(254, 254, 254);
}

.el-radio__inner::after {
	width: 10px;
	height: 10px;
	background-color: rgb(58, 138, 247);
}

.onlySelect {
	background-color: rgb(254, 254, 254);
	border: none;
}

.onlySelect .el-select-dropdown__item {
	color: #000;

}

.onlySelect .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover:hover {
	background-color: transparent;
}

.onlySelect .popper__arrow {
	border-bottom-color: rgb(254, 254, 254) !important;
}

.onlySelect.el-popper[x-placement^=bottom] .popper__arrow::after {
	border-bottom-color: rgb(8254, 254, 254) !important;
}

.el-select {
	width: 100%;
}

.el-select .el-input {
	background-color: rgb(254, 254, 254);
}

.el-select .el-input__suffix {
	background-color: rgb(160, 196, 243);
	color: #000;
	right: 0;
}

.el-select .el-select__caret {
	color: #000;
}

.el-select .el-input__inner {
	background-color: transparent;
	border: none;
	color: #000;
}

.el-select .el-input .el-select__caret {
	color: #000;
}

.el-scrollbar .el-scrollbar__bar {
	opacity: 1 !important;
}

.el-button {
	font-size: 14px;
	padding: 5px 10px;
	line-height: 14px;
	color: #000;
	background-color: #B8D1F2;
}

.el-button:hover {
	opacity: .7;
	color: #000;
	background-color: #B8D1F2;
}

.el-button:focus,
.el-button:hover {
	color: #000;
	background-color: #B8D1F2;
}

.aycollapse {
	width: 100%;
	font-size: 14px;
	background-color: rgb(177, 206, 240);
	color: #000;
}

.aytab {
	width: 100%;
	height: 20px;
	display: flex;
	border-bottom: 2px solid rgb(233, 200, 200);
  transition: changePage 0.3s;
}

.aytab span {
	padding: 0 5px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(189, 199, 208);
	color: #000;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
  animation: changePage 0.5s;
}


.el-input input {
	background-color: rgb(254, 254, 254);
	border: none;
	border-radius: 0px;
}

a {
	color: inherit;
	text-decoration: none;
  }




.reloadbtn {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  height: 28px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 12px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes changePage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
